.block-jsdoc_engine_jsd .block-jsdoc__block-name {
  position: relative;

  margin-top: 10px;
  padding-top: 15px;

  border-top: 2px solid #ffd94d;
}

.block-jsdoc_engine_jsd .block-jsdoc__block-name:first-child {
  padding-top: 0;

  border-top: none;
}

.block-jsdoc_engine_jsd .block-jsdoc__augment-title,
.block-jsdoc_engine_jsd .block-jsdoc__class-title {
  margin-right: 10px;

  color: #9a9a9a;
}

.block-jsdoc_engine_jsd .block-jsdoc__augments-description,
.block-jsdoc_engine_jsd .block-jsdoc__class-description,
.block-jsdoc_engine_jsd .block-jsdoc__block-description {
  margin-bottom: 15px;
}

.block-jsdoc_engine_jsd .block-jsdoc__toc-item {
  line-height: 22px;

  margin-bottom: 2ex;
}

.block-jsdoc_engine_jsd .block-jsdoc__toc-entity {
  font-size: 18px;
}

.block-jsdoc_engine_jsd .block-jsdoc__toc-title {
  margin-left: 20px;

  color: #9a9a9a;
}

.block-jsdoc_engine_jsd .block-jsdoc__toc-link {
  margin-left: 40px;

  color: #01b;
}

.block-jsdoc_engine_jsd .block-jsdoc__methods-title {
  margin-top: 0;
  padding-top: 10px;

  border-top: 2px solid #ffd94d;
}

.block-jsdoc_engine_jsd .block-jsdoc__method {
  padding: 10px 0;
}

.block-jsdoc_engine_jsd .block-jsdoc__method:after {
  display: block;

  width: 100%;
  height: 1px;

  content: '';

  border-bottom: 1px solid #e5e5e5;
}

.block-jsdoc_engine_jsd .block-jsdoc__method:last-child:after {
  display: none;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-title {
  font-size: 18px;

  padding-bottom: 20px;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-title:last-child {
  padding-bottom: 10px;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-name {
  font-weight: bold;

  position: relative;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-href {
  position: relative;
  vertical-align: middle;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-href .block-anchor {
  left: -23px;

  display: none;

  width: 24px;
  height: 16px;

  /* hack for Fx which doesn't work well with opacity in this case */
  opacity: 1;
}

.block-jsdoc__method-name:hover .block-jsdoc_engine_jsd .block-jsdoc__method-href .block-anchor,
.block-jsdoc__block-name:hover .block-jsdoc_engine_jsd .block-jsdoc__method-href .block-anchor {
  display: block;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-name,
.block-jsdoc_engine_jsd .block-jsdoc__params-list {
  margin-right: 5px;
}

.block-jsdoc_engine_jsd .block-jsdoc__param_optional {
  color: #9a9a9a;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-returns {
  font-style: italic;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-labels {
  display: inline-block;
}

.block-jsdoc_engine_jsd .block-jsdoc__method-label {
  display: inline-block;

  margin-left: 5px;
  padding: 3px 5px;

  border-radius: 2px;
  background: #ffeba0;
}

.block-jsdoc_engine_jsd .block-jsdoc__desc-section {
  margin-bottom: 10px;
}

.block-jsdoc_engine_jsd .block-jsdoc__section-title {
  margin-bottom: 10px;

  color: #9a9a9a;
}

.block-jsdoc_engine_jsd .block-jsdoc__section-content {
  margin-left: 12px;
}

.block-jsdoc_engine_jsd .block-jsdoc__deprecated .block-jsdoc__section-title {
  color: #ff6b6b;
}

.block-jsdoc_engine_jsd .block-jsdoc__parameters .block-jsdoc__section-content {
  display: table;
}

.block-jsdoc_engine_jsd .block-jsdoc__row {
  display: table-row;
}

.block-jsdoc_engine_jsd .block-jsdoc__param-title,
.block-jsdoc_engine_jsd .block-jsdoc__param-description {
  display: table-cell;
}

.block-jsdoc_engine_jsd .block-jsdoc__param-title {
  display: inline-block;

  min-width: 100px;
  padding-right: 15px;
}

.block-jsdoc_engine_jsd .block-jsdoc__param-description {
  line-height: 22px;

  padding-bottom: 10px;
}

.block-jsdoc_engine_jsd .block-jsdoc__param-type {
  font-style: italic;
}
