.block-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.block-list__item {
    font-size: 16px;
    line-height: 20px;

    padding: 5px 0;

    white-space: nowrap;
}

.block-list__item:hover {
    background: rgba(255, 255, 160, .35);
}

.block-list__item_current {
    padding-left: 23px;
    background: #ffeba0;
}

.block-list__link {
    display: block;
    padding: 0 23px;

    color: #000;
    text-decoration: none;
}
