.breadcrumbs {
    display: inline-block;

    font-size: 14px;
    text-transform: uppercase;
    vertical-align: top;
}

.breadcrumbs__item {
    display: inline-block;

    margin-right: 6px;

    letter-spacing: 0.15em;

    color: #555;
}

.breadcrumbs__item::before {
    position: relative;

    margin-right: 5px;

    content: "→";

    color: #B6B6B6;
}

.breadcrumbs .link {
    color: inherit;
    text-decoration: none;
}
