.header {
    position: relative;

    display: flex;

    height: 72px;
    padding-right: 140px;

    white-space: nowrap;

    background: #e5f8e0;
}

.header__breadcrumbs {
    flex-grow: 1;

    margin-top: 30px;
}

.header__docs {
    margin-top: 17px;
}

.header__lang {
    margin-top: 22px;
}
