.nav {
    font-size: 15px;

    white-space: nowrap;
}

.nav__link {
    display: inline-block;

    margin: 0 40px 0 0;
    padding: 0 3px;

    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__link[href] {
    color: #777;
}
