.block-jsdoc_engine_jsdoc3
{
    font: 15px Arial, sans-serif;
    padding: 0 10px 10px;

    .block-jsdoc__block-name
    {
        padding-top: 15px;
        margin-top: 0;

        &:first-child
        {
            padding-top: 0;
        }
    }

    .block-jsdoc__toc
    {
        padding-bottom: 15px;
    }

    .block-jsdoc__toc-title
    {
        font-size: 16px;
        font-weight: bold;

        margin: 20px 0 10px 0;
    }

    .block-jsdoc__toc-section
    {
        display: inline-block;

        padding-right: 40px;

        vertical-align: top;
    }

    .block-jsdoc__method-link
    {
        color: #01b;
    }

    .block-jsdoc__methods-title
    {
        padding-top: 10px;

        border-top: 2px solid $yellow;
    }

    .block-jsdoc__method
    {
        padding: 10px 0;

        &:after
        {
            content: '';

            display: block;

            width: 100%;
            height: 1px;

            background: linear-gradient(to right, #e6e6e6 0%, rgba(115, 115, 115, 0) 100%, rgba(229, 229, 229, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        &:last-child:after
        {
            display: none;
        }
    }

    .block-jsdoc__method-title
    {
        font-size: 18px;

        padding-bottom: 20px;

        &:last-child
        {
            padding-bottom: 10px;
        }
    }

    .block-jsdoc__method-name
    {
        font-weight: bold;
    }

    .block-jsdoc__method-name,
    .block-jsdoc__params-list
    {
        margin-right: 5px;
    }

    .block-jsdoc__param_optional
    {
        color: #9a9a9a
    }

    .block-jsdoc__method-returns
    {
        font-style: italic;
    }

    .block-jsdoc__method-labels
    {
        display: inline-block;
    }

    .block-jsdoc__method-label
    {
        display: inline-block;

        padding: 3px 5px;
        margin-left: 5px;

        background: #ffeba0;
        border-radius: 2px;
    }

    .block-jsdoc__desc-section
    {
        margin-bottom: 10px;
    }

    .block-jsdoc__section-title
    {
        margin-bottom: 10px;

        color: #9a9a9a;
    }

    .block-jsdoc__section-content
    {
        margin-left: 12px;
    }

    .block-jsdoc__deprecated .block-jsdoc__section-title
    {
        color: #ff6b6b;
    }

    .block-jsdoc__params .block-jsdoc__section-content
    {
        display: table;
    }

    .block-jsdoc__row
    {
        display: table-row;
    }

    .block-jsdoc__param-description
    {
        line-height: 22px;
    }

    .block-jsdoc__param-title
    {
        display: inline-block;

        min-width: 100px;
        padding-right: 15px;
    }

    .block-jsdoc__param-title,
    .block-jsdoc__param-description
    {
        display: table-cell;
    }

    .block-jsdoc__param-type
    {
        font-style: italic;
    }
}
