.block-tabs {
    margin-bottom: 28px;
}

.block-tabs__tab {
    position: relative;

    display: inline-block;
    margin-right: 18px;
    cursor: pointer;

    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.block-tabs__tab:after {
  position: absolute;
  right: 0;
  bottom: -8px;
  left: 0;
  content: '';
}

.block-tabs__tab:hover:after {
    border-bottom: 2px solid;
}

.block-tabs__tab_current:after {
    border-bottom: 3px solid;
}

.block-tabs__pane {
    display: none;
    margin-top: 30px;
}

.block-tabs__pane_active {
    display: block;
}
